#sidebar{
    background: #bec0c6;
    grid-area: sidebar;
    overflow: auto;
    padding: 20px;
    -webkit-transitions: all 0.5s;
    transition: all 0.5s;
}


.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f6;
    margin-bottom:30px;
}

.sidebar__img {
    display: flex;
    align-items: center;
}

.sidebar__title > div > img {
    width: 100px;
    object-fit: contain;
    border-radius: 20%;
}

.sidebar__title > div > h1 {
    font-size: 25px;
    display: inline;
    margin-left: 14px;
}

.sidebar_title > i {
    font-size: 18px;
    display: none;
}

.sidebar_menu > h2 { 
    color: #3ea19c;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__link{
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}


.active_menu_link {
    background: rgba(31, 180, 255, 0.551);
    color: #f2f2f2;
}

.active_menu_link a {
    color: #f5fffb !important;
}

.sidebar__link > a {
    text-decoration: none;
    color: #e7f5f6;
    font-weight: 700;
}

.sidebar__link a:focus{
    padding: 7px;
    background: rgba(31, 180, 255, 0.551);
    border-radius: 3px;
}

.sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar__logout{
    margin-top: 20px;
    padding: 10px;
    color: #e1820f;
}

.sidebar__logout > a {
    text-decoration: none;
    color: #e1820f;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar-responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

@media only screen and (max-width: 978px){
    #sidebar{
        display: none;
    }
    .sidebar__title > i {
        display: inline;
    }
} 

/*css do estilo do menu do dashboard*/
.coricon{
    
}

h2{
    color: #fffdfd;
}